<html>
<head>
	<title>On My Radar</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="js/raphael-min.js" charset="utf-8"></script>
	<script src="js/main.js" charset="utf-8"></script>
	<script src="js/index.js" charset="utf-8"></script>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	
	<body data-ng-app="">
		<center><img src="images/logo.png" alt="Mountain View" style="width:400px;height:177px;"></center>
<div class="container" data-ng-controller="TodoController">
	<header class="app-header">
		<h1 class="app-title">{{ appTitle }}</h1>
		<h1 class="app-headline">{{ appHeadline }}</h1>
	</header>

	<section class="app-body">
		<section class="archive-control">
			<span>{{ remaining() }} of {{ todos.length }} remaining</span>
			<p>[ <a href="" data-ng-click="archive()">Remove Completed Tasks</a> ]</p>
		</section>

		<ul class="unstyled">
			<li data-ng-repeat="todo in todos track by $index">
				<input type="checkbox" data-ng-model="todo.done">
				<span class="done-{{ todo.done }}">{{ todo.text }}</span>
			</li>
		</ul>

		<form data-ng-submit="addTodo()" class="todo-form">
			<input type="text" data-ng-model="todoText" placeholder="Put a new task on your radar" />
			<br />
			<input type="submit" value="Add Task" />
		</form>
	</section>
</div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js'></script>

        <script src="js/index.js"></script>

    <div id="container">
		<center><button id="start-visual">Visualize your radar</button></center>
		<div id="visualization">
		</div>
	</div>

</body>

